<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
      <symbol id="check2" viewBox="0 0 16 16">
        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
      </symbol>
      <symbol id="circle-half" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"/>
      </symbol>
      <symbol id="moon-stars-fill" viewBox="0 0 16 16">
        <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"/>
        <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"/>
      </symbol>
      <symbol id="sun-fill" viewBox="0 0 16 16">
        <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
      </symbol>
    </svg>  
<p style="color: green"><%= notice %></p>

<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800"><%= @meeting.topic %></h1>
      <p class="card-text">Meeting ID: <%= link_to @meeting.meeting_id, meeting_path(@meeting) %><br />
          <%= @meeting.meeting_type %> is type of the meeting</p>
         
  </div>
<% if current_user.role.name == 'Admin' %>
  <div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                Votes by <%= current_user.first_name %> <%= current_user.last_name %>
              </div>
              <div class="h6 mb-0 text-gray-800">
                Total votes for: <%= current_user.find_up_voted_items.size %><br/>
                Total votes against: <%= current_user.find_down_voted_items.size %><br/>
                Total abstainance: <%= @resolutions.where("abstain like ? || user_id like ?", "%#{true}%","%#{current_user}%").count %> 
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                  Logins
                </div>
                <div class="h5 mb-0 font-weight-bold text-gray-800"><%= current_user.login_count %></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

    <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tasks
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                                                </div>
                                                <div class="col">
                                                    <div class="progress progress-sm mr-2">
                                                        <div class="progress-bar bg-info" role="progressbar"
                                                            style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                                            aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

    <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Pending Requests</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                                      
  </div>
  <% end %>
  <div class="row">
    <div class="col-lg-6">    
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h5 class="m-0 font-weight-bold text-primary">Agenda</h5>
        </div>
        <div class="card-body">
          <div id="agendas">
            <% @agendas.each do |agenda| %>
              <%= render agenda %>
            <% end %>
          </div>
          <% if current_user.role.name == 'Admin' %>
            <%= link_to "New agenda", new_agenda_path(:meeting_id => @meeting), data: { turbo_frame: 'modal' }, class: "btn btn-primary", remote: true %>
          <% end %>
        </div>
      </div>
      
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h5 class="m-0 font-weight-bold text-primary">Elections</h5>
        </div>
        <div class="card-body">
          <div id="resolutions">
            <% @elections.each do |election| %>
              <%= render election %>
            <% end %>
          </div> 
          <% if current_user.role.name == 'Admin' %>
            <%= link_to "New election", new_election_path(:meeting_id => @meeting), data: { turbo_frame: 'modal' }, class: "btn btn-primary", remote: true %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <table width="100%">
            <tr>
              <td>
                <h5 class="m-0 font-weight-bold text-primary">Resolutions</h5></td>
              <td style="text-align: right">
                <i class="fas fa-thumbs-up fa-fw text-right text-blue-300"></i>
                <span class="badge badge-info badge-counter text-right"><%= current_user.votes.up.for_type(Resolution).size %></span>
                <i class="fas fa-thumbs-down fa-fw text-blue-300 text-right"></i>
                <span class="badge badge-info badge-counter text-right"><%= current_user.votes.down.for_type(Resolution).size %></span>
              </td>
            </tr>
          </table>
        </div>
        <div class="card-body">
          <div id="resolutions">
            <% @resolutions.each do |resolution| %>
              <%= render resolution %>
            <% end %>
          </div>
          <% if current_user.role.name == 'Admin' %>
            <%= link_to "New resolution", new_resolution_path(:meeting_id => @meeting), data: { turbo_frame: 'modal' }, class: "btn btn-primary", remote: true %>
          <% end %>
        </div>
      </div>
      
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h5 class="m-0 font-weight-bold text-primary">Chat</h5>
        </div>  
        <div class="card-body">
            <%= turbo_stream_from dom_id(current_user) %>
              <%# <div class="mesgs">  %>
                <div class="msg_history">
                      <p class="text-center">Welcome <%= current_user.username %></p>
                  <div id="chatbox">
                      <%= render partial: "messages/chatbox", locals: { messages: @messages } %>
                  </div>
                  <div class="type_msg">
                      <div class="input_msg_write">
                          <%= render partial: "messages/form", locals: { message: @message } %>  
                      </div>
                  </div>      
                </div>
              <%# </div> %>
          </div>
        </div>  
    </div>
  </div>
</div>


  

