<div id="<%= dom_id proxy %>">
  <p>
    <strong>Firstname:</strong>
    <%= proxy.firstname %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= proxy.lastname %>
  </p>

  <p>
    <strong>Member number:</strong>
    <%= proxy.member_number %>
  </p>

  <p>
    <strong>Proxy type:</strong>
    <%= proxy.proxy_type_id %>
  </p>

  <p>
    <strong>Proxy firstname:</strong>
    <%= proxy.proxy_firstname %>
  </p>

  <p>
    <strong>Proxy lastname:</strong>
    <%= proxy.proxy_lastname %>
  </p>

  <p>
    <strong>Proxy member number:</strong>
    <%= proxy.proxy_member_number %>
  </p>

  <p>
    <strong>Proxy instruction:</strong>
    <%= proxy.proxy_instruction_id %>
  </p>

  <p>
    <%= link_to "View", proxy %>
  </p>
</div>
