<div id="<%= dom_id share %>">
  <p>
    <strong>Account number:</strong>
    <%= share.account_number %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= share.title %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= share.name %>
  </p>

  <p>
    <strong>Surname:</strong>
    <%= share.surname %>
  </p>

  <p>
    <strong>Id number:</strong>
    <%= share.id_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= share.email %>
  </p>

  <p>
    <strong>Physical address:</strong>
    <%= share.physical_address %>
  </p>

  <p>
    <strong>Type of shares:</strong>
    <%= share.type_of_shares_id %>
  </p>

  <p>
    <strong>Share volume:</strong>
    <%= share.share_volume %>
  </p>

  <p>
    <strong>Custom:</strong>
    <%= share.custom %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= share.notes %>
  </p>

</div>
