<div id="<%= dom_id setting_attendee %>">
  <p>
    <strong>Customer:</strong>
    <%= setting_attendee.customer_id %>
  </p>

  <p>
    <strong>Bgcolor:</strong>
    <%= setting_attendee.bgcolor %>
  </p>

  <p>
    <strong>Bgimage:</strong>
    <%= setting_attendee.bgimage %>
  </p>

  <p>
    <strong>H1size:</strong>
    <%= setting_attendee.h1size %>
  </p>

  <p>
    <strong>Logo:</strong>
    <%= setting_attendee.logo %>
  </p>

  <p>
    <strong>Fontsize:</strong>
    <%= setting_attendee.fontsize %>
  </p>

</div>
