<div id="<%= dom_id event %>">
  <div class="container">
    <div class="col-md-4">
        <tbody>
          <tr>
            <th scope="row"><%= link_to event.id, event_path(event) %></th>
            <td><%= link_to event.event_name, event_path(event) %></td>
            <td><%= event.event_type.name %></td>
            <td><%= event.location_name %></td>
            <td><%= event.location_address %></td>
            <td><%= event.start_time %></td>
            <td><%= event.end_time %></td>
            
          </tr>
        </tbody> 
    </div>  
  </div>
</div>
