<div id="<%= dom_id event_invitation %>">
  <p>
    <strong>Event:</strong>
    <%= event_invitation.event_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= event_invitation.user_id %>
  </p>

  <p>
    <strong>Sent date:</strong>
    <%= event_invitation.sent_date %>
  </p>

  <p>
    <strong>Invitation response:</strong>
    <%= event_invitation.invitation_response_id %>
  </p>

  <p>
    <strong>Text response:</strong>
    <%= event_invitation.text_response %>
  </p>

  <p>
    <strong>Response date:</strong>
    <%= event_invitation.response_date %>
  </p>

</div>
