
<h1>PLEASE CHECKIN HERE</h1>

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col">
                    <%# <%= f.hidden_field :attendee_id, value: @attendee.id %> 
          <%= form_with(method: "GET", data: { turbo_frame: "check_attendees", turbo_action: "advance", 
          controller: "form-submission", action: "input->form-submission#search" }) do |form| %>
            <%= form.text_field :query, class: "form-control", placeholder: "Search by First Name" %>
          <% end %>
      </div>
    </div>  
  </div>
</div>  
<br />
  <!-- Rendering the new partial here -->
<%# <div class="card"> %>
<div class="bg-gray-100 p-8 col-span-5">  
  <%= turbo_frame_tag "check_attendees" do %>
    
      <%= render partial: "check_attendees", locals: { check_attendees: @check_attendee } %>
   
  <% end %>
 </div>
